<header>
  <div class="header-container">
    <h1><a routerLink="/">MyClothingBrand</a></h1>

    <nav>
      <ul class="header-navigation">
        <li><a routerLink="/clothes/mens">Men</a></li>
        <li><a routerLink="/clothes/woman">Women</a></li>
        <li><a routerLink="/clothes/kids">Kids</a></li>
        <li><a routerLink="/colections">Colections</a></li>
        @if(loggedIn){
          <li><a routerLink="/create-product">Create Product</a></li>
          <li><a routerLink="/profile">Profile</a></li>
        }
      </ul>
    </nav>

    <div class="user-links">
      @if(loggedIn){
      <a routerLink="#">Log Out</a>
      }@else{
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
      }
    </div>
  </div>
</header>
