<div class="products-container">
    <div class="filter-container">
      <h1>Kids section</h1>
      <h2>Sort Clothes</h2>
      <div class="filters">
        <div class="filter">
          <label for="size">Size:</label>
          <select name="size" id="size" class="size">
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
          </select>
        </div>
        <div class="filter">
          <label for="price">By Price:</label>
          <select name="pcei" id="price" class="price">
            <option value="high">High-to-low</option>
            <option value="low">Low-to-High</option>
          </select>
        </div>
        <div class="filter">
          <label for="color">By color:</label>
          <select name="color" id="color" class="color">
            <option value="black">Black</option>
            <option value="white">White</option>
            <option value="blue">Blue</option>
            <option value="red">Red</option>
          </select>
        </div>
      </div>
    </div>
    <div class="products-wrapper">
      @for (product of products; track $index) {
      <div class="product-card">
        <div class="img-wrapper">
          <a href="#">
            <img
              class="product-img"
              src="{{ product.imgURL }}"
              alt="Clothe Img"
            />
          </a>
        </div>
        <a href="#">
          <h2>{{ product.title }}</h2>
        </a>
        <p>{{ product.price }}$</p>
      </div>
      }
    </div>
  </div>
  