<section class="container">
    <div class="slider-wrapper">
        <div class="slider">
            <img id="slide-1" src="https://isto.pt/cdn/shop/files/Heavyweight_Black_ef459afb-ff7a-4f9a-b278-9e9621335444.webp?v=1710414950" alt="dsa">
            <img id="slide-2" src="https://isayshop.eu/cdn/shop/files/Tinni_Basic_T-Shirt-T-Shirts-57338-900_Black.jpg?v=1704266703" alt="dsa">
            <img id="slide-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRu91lqkHpDCEp3L5GsbCsgVzomm3fo_My89w&s" alt="dsa">
        </div>
        <div class="slider-nav">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
        </div>
    </div>
</section>
