<div class="profile-info-container">
    <div class="profile-wrapper">

        <div class="img-wrapper">
            <img
            src="https://i.pinimg.com/736x/fb/0c/d8/fb0cd89bce0a2568cd12c1af2be34646.jpg"
            alt=""
            />
        </div>
        <article>
            <section class="profile-picture">
                <img
                src="https://i.pinimg.com/736x/fb/0c/d8/fb0cd89bce0a2568cd12c1af2be34646.jpg"
                alt=""
                />
                <div>
                    <h1>Your Photo</h1>
                    <button>Change Photo</button>
                </div>
            </section>
            <div class="sections-wrapper">

                <div class="siblings-sections">
                    <section class="input-section">
                        <label for="username">Username:</label>
                        <input type="text" value="dobri" name="username" id="username" />
                    </section>
                    <section class="input-section">
                        <label for="lastname">Last Name:</label>
                        <input type="text" value="dobri" name="lastname" id="lastname" />
                    </section>
                </div>
                <section class="input-section">
                    <label for="email">Email Adress:</label>
                    <input type="email" value="someemail@abv.bg" name="email" id="email" />
                </section>
                
                <div class="siblings-sections">
                    <section class="input-section">
                        <label for="country">country:</label>
                        <input type="text" value="country" name="country" id="country" />
                    </section>
                    <section class="input-section">
                        <label for="city">City:</label>
                        <input type="text" value="city" name="city" id="city" />
                    </section>
                </div>
            </div>
            </article>
        </div>
    </div>
    