<div class="edit-product-container">
  <h2>Create Product Listing</h2>
  <div class="form-container">
    <form
      [formGroup]="editProductForm"
      (submit)="handeFormSubmit($event)"
      class="edit-product-form"
    >
      <label for="title">Product Name:</label>
      <input
        formControlName="title"
        class="edit-product-input"
        placeholder="Product Name"
        type="text"
        id="title"
        name="title"
      />
      @if(editProductForm.get('title')?.touched){
      <div>
        @if(editProductForm.get('title')?.errors?.['required']){
        <p class="error">ProductName is Required!</p>
        } @if(editProductForm.get('title')?.errors?.['minlength']){
        <p class="error">Minimum length is 3 chars!</p>
        }
      </div>
      }

      <label for="price">Price:</label>
      <input
        formControlName="price"
        class="edit-product-input"
        placeholder="Price"
        type="number"
        id="price"
        name="password"
        value="{{productInfo?.price}}"
      />

      <label for="size">Size:</label>
      <input
        formControlName="size"
        class="edit-product-input"
        placeholder="Size"
        type="text"
        id="size"
        name="size"
        value="{{productInfo?.size}}"
      />

      <label for="color">Color:</label>
      <input
        formControlName="color"
        class="edit-product-input"
        placeholder="Color"
        type="text"
        id="color"
        name="color"
      />
      @if(editProductForm.get('color')?.touched){
      <div>
        @if(editProductForm.get('color')?.errors?.['required']){
        <p class="error">Color name is Required!</p>
        } @if(editProductForm.get('color')?.errors?.['minlength']){
        <p class="error">Minimum length is 3 chars!</p>
        }
      </div>
      }

      <label for="imgURL">Image URL:</label>
      <input
        formControlName="imgURL"
        class="edit-product-input"
        placeholder="Image URL"
        type="text"
        id="imgURL"
        name="imgURL"
        value="{{productInfo?.imgURL}}"
      />
      <button type="submit">Submit</button>
    </form>

    <div class="form-preview">
      <h1>Product Preview</h1>
      <hr>
      <div class="img-container">
        <img
          class="form-img-preview"
          src="{{ editProductForm.value.imgURL }}"
          alt="Product Preview"
        />
      </div>
      <h1>ProductName:{{ editProductForm.value.title }}</h1>
      <p>Price: {{ editProductForm.value.price }}$</p>
      <p>Size: {{ editProductForm.value.size }}</p>
      <p>Color: {{editProductForm.value.color}}</p>
    </div>
  </div>
</div>
