<footer>
    <div class="footer-row">
        <h2>SHOP</h2>
        <nav class="footer-nav">
            <ul>
                <li><a href="#"> Men</a></li>
                <li><a href="#"> Women</a></li>
                <li><a href="#"> Kids</a></li>
                <li><a href="#"> Collections</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer-row">
        <h2>CORPORATE INFO</h2>
        <nav class="footer-nav">
            <ul>
                <li><a href="#"> Career at MyClothingBrand</a></li>
                <li><a href="#"> About MyClothingBrand group</a></li>
                <li><a href="#"> Sustainability MyClothingBrand Group</a></li>
                <li><a href="#"> Press</a></li>
                <li><a href="#"> Investor Relations</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer-row">
        <h2>HELP</h2>
        <nav class="footer-nav">
            <ul>
                <li><a href="#"> Customer Service</a></li>
                <li><a href="#"> My Account</a></li>
                <li><a href="#"> Find a Store</a></li>
                <li><a href="#"> Legal & Privacy</a></li>
                <li><a href="#"> Contact</a></li>
            </ul>
        </nav>
    </div>
</footer>
