<div class="colections-container">
    <h2>Our Collections</h2>
  <article>
    <section class="wrapper-section" style="background-image: url(https://media.istockphoto.com/id/958565846/photo/flat-lay-pink-feminine-clothes-and-accessories-on-white-background.jpg?s=612x612&w=0&k=20&c=qG_LqdzaFU5B4mglWxQUqOAudpoV5x_0dZyNqZ7mnP8=)">
        <div class="colections-btns">
            <h2>Spring</h2>
            <a routerLink="/home">Shop Now</a>
        </div>
    </section>

    <section class="wrapper-section" style="background-image: url(https://media.istockphoto.com/id/1220167951/photo/womens-summer-straw-hat-wicker-bag-white-sundress-sunglasses-and-jewelry-on-a-beige.jpg?s=612x612&w=0&k=20&c=1VtXvBIlEF-7oD88t_ISPuRsgj123-tB_KPZ5_Au-j4=)">
        <div class="colections-btns">
            <h2>Summer</h2>
            <a routerLink="/home">Shop Now</a>
        </div>
    </section>

    <section class="wrapper-section" style="background-image: url(https://img.freepik.com/free-photo/view-from-flat-lay-woman-style-accessories-red-knitted-sweater-checkered-flannel-shirt-denim-jeans-hat-autumn-fashion-trend-traveler-outfit_285396-5133.jpg)">
        <div class="colections-btns">
            <h2>Autumn</h2>
            <a routerLink="/home">Shop Now</a>
        </div>
    </section>

    <section class="wrapper-section" style="background-image: url(https://st2.depositphotos.com/2939989/10414/i/950/depositphotos_104142466-stock-photo-pile-knitted-winter-autumn-clothes.jpg)" >
        <div class="colections-btns">
            <h2>Witner</h2>
            <a routerLink="/home">Shop Now</a>
        </div>
    </section>

  </article>
</div>
