<div class="products-container">
    <h1>Most Sold products</h1>
    <div class="products-wrapper">
        @for (product of products; track $index) {
            <div class="product-card">
                <div class="img-wrapper">
                    <a routerLink="/details/{{product.name}}">
                        <img class="product-img" src="https://images.pexels.com/photos/1020370/pexels-photo-1020370.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Clothe Img">
                    </a>
                </div>
                <a routerLink="details/{{product.height}}">
                    <h2>{{product.name}}</h2>
                </a>
                <p>{{product.mass}}$</p>
            </div>
        }
    </div>
</div>
