<div class="profile-info-container">
    <div class="profile-wrapper">

        <img class="profile-side-img"
        src="{{userData?.profileImg}}"
        alt="Profile Pic"
        />
       
        <article>
            <section class="profile-picture">
                <img
                src="{{userData?.profileImg}}"
                alt="ProfilePic"
                />
                <div>
                    <h1>Your Photo</h1>
                    <button>Change Photo</button>
                </div>
            </section>
            <div class="sections-wrapper">

                <div class="siblings-sections">
                    <section class="input-section">
                        <label for="username">Username:</label>
                        <input type="text" value="{{userData?.firstName}}" name="username" id="username" />
                    </section>
                    <section class="input-section">
                        <label for="lastname">Last Name:</label>
                        <input type="text" value="{{userData?.lastName}}" name="lastname" id="lastname" />
                    </section>
                </div>
                <section class="input-section">
                    <label for="email">Email Adress:</label>
                    <input type="email" value="{{userData?.email}}" name="email" id="email" />
                </section>
                
                <div class="siblings-sections">
                    <section class="input-section">
                        <label for="country">country:</label>
                        <input type="text" value="{{userData?.country}}" name="country" id="country" />
                    </section>
                    <section class="input-section">
                        <label for="city">City:</label>
                        <input type="text" value="{{userData?.city}}" name="city" id="city" />
                    </section>
                </div>
            </div>

            <div class="save">
                <button>Save</button>
            </div>
        </article>
    </div>
</div>
    