<div class="products-wrapper" *ngIf="productData">
  <div class="product-card">
    <div class="img-wrapper">
      <img
        class="product-img"
        [src]="productData.imgURL"
        alt="Clothe Img"
      />
    </div>
    <h2>{{ productData.title }}</h2>
    <p>Price: {{ productData.price }}$.</p>
    <p>Size: {{ productData.size }}.</p>
    <p>Color: {{ productData.color }}.</p>
    <p>Likes: {{numberOfLikes}}</p>

    <div class="btn-container">
      @if(!(productData._ownerId === userData?._id) && !likedByUser){
        <button class="details-btn" (click)="handleLike()">Like</button>
      }
      @if(userData?._id === productData._ownerId){
        <a routerLink="/edit/{{section}}/{{ productData._id }}" class="details-btn">EDIT</a>
        <button class="details-btn" (click)="handleDelete()">DELETE</button>
      }
    </div>
  </div>
</div>
