<div class="products-wrapper" *ngIf="personData">
  <div class="product-card">
    <div class="img-wrapper">
      <img
        class="product-img"
        [src]="personData.imgURL"
        alt="Clothe Img"
      />
    </div>
    <h2>{{ personData.title }}</h2>
    <p>Price: {{ personData.price }}$.</p>
    <p>Size: {{ personData.size }}.</p>
    <p>Color: {{ personData.color }}.</p>

    <div class="btn-container">
      <button class="details-btn">Like</button>
      <a routerLink="/edit/{{ personData._id }}" class="details-btn">EDIT</a>
      <button class="details-btn">DELETE</button>
    </div>
  </div>
</div>
