<div class="create-product-container">
  <h2>Create Product Listing</h2>
  <p-toast /> 
  <div class="form-container">
    <form
      [formGroup]="createProductForm"
      (submit)="handeFormSubmit($event)"
      class="create-product-form"
    >
      <label for="title">Product Name:</label>
      <input
        formControlName="title"
        class="create-product-input"
        placeholder="Product Name"
        type="text"
        id="title"
        name="title"
      />
      @if(createProductForm.get('title')?.touched){
        <div>
          @if(createProductForm.get('title')?.errors?.['required']){
          <p class="error">ProductName is Required!</p>
          } @if(createProductForm.get('title')?.errors?.['minlength']){
          <p class="error">Minimum length is 3 chars!</p>
          }
        </div>
        }


      <label for="price">Price:</label>
      <input
        formControlName="price"
        class="create-product-input"
        placeholder="Price"
        type="text"
        id="price"
        name="price"
      />
      @if(createProductForm.get('price')?.touched){
        <div>
          @if(createProductForm.get('price')?.errors?.['required']){
          <p class="error">Price is Required!</p>
          } @if(createProductForm.get('price')?.errors?.['minlength']){
          <p class="error">Minimum length is 3 chars!</p>
          }
        </div>
        }
      <label for="size">Size:</label>
      <input
        formControlName="size"
        class="create-product-input"
        placeholder="Size"
        type="text"
        id="size"
        name="size"
      />
      @if(createProductForm.get('size')?.touched){
        <div>
          @if(createProductForm.get('size')?.errors?.['required']){
          <p class="error">Size is Required!</p>
          } @if(createProductForm.get('size')?.errors?.['minlength']){
          <p class="error">Minimum length is 3 chars!</p>
          }
        </div>
        }

        <label for="color">Color:</label>
      <input
        formControlName="color"
        class="create-product-input"
        placeholder="Color"
        type="text"
        id="color"
        name="color"
      />
      @if(createProductForm.get('color')?.touched){
        <div>
          @if(createProductForm.get('color')?.errors?.['required']){
          <p class="error">Color is Required!</p>
          } @if(createProductForm.get('color')?.errors?.['minlength']){
          <p class="error">Minimum length is 3 chars!</p>
          }
        </div>
        }


      <label for="imgURL">Image URL:</label>
      <input
        formControlName="imgURL"
        class="create-product-input"
        placeholder="Image URL"
        type="text"
        id="imgURL"
        name="imgURL"
      />
      @if(createProductForm.get('imgURL')?.touched){
        <div>
          @if(createProductForm.get('imgURL')?.errors?.['required']){
          <p class="error">Image URL is Required!</p>
          } @if(createProductForm.get('imgURL')?.errors?.['minlength']){
          <p class="error">Minimum length is 3 chars!</p>
          }
        </div>
        }

        
      <label for="section">Chose Sectioin</label>
      <select name="section" id="section" formControlName="section">
        <option value="menClothes">Mens</option>
        <option value="womanClothes">Women</option>
        <option value="kidsClothes">Kids</option>
      </select>
      @if(createProductForm.get('section')?.touched){
        <div>
          @if(createProductForm.get('section')?.errors?.['required']){
          <p class="error">Section is Required!</p>
          }
        </div>
        }
      <button type="submit">Submit</button>
    </form>
    <div class="form-preview">
      <h1>Product Preview</h1>
      <div class="img-container">
        <img
          class="form-img-preview"
          src="{{ createProductForm.value.imgURL }}"
          alt="Product Preview"
        />
      </div>
      <h1>ProductName:{{ createProductForm.value.title }}</h1>
      <p>Price: {{ createProductForm.value.price }}$.</p>
      <p>Size: {{ createProductForm.value.size }}.</p>
      <p>Color: {{createProductForm.value.color}}</p>

    </div>
  </div>
</div>
